{{ if .Site.Params.hero.enable | default false }}
<section id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 hero-content">
                <span class="subtitle">{{ .Site.Params.hero.intro }}</span>
                <h1>{{ .Site.Params.hero.title }}</h1>
                <h2>{{ .Site.Params.hero.subtitle }}</h2>
                <p>{{ .Site.Params.hero.content | markdownify }}</p>
                
                <div class="btn-group">
                    {{ if .Site.Params.hero.button.enable }}
                    <a href="{{ .Site.Params.hero.button.url }}" 
                       class="btn btn-primary" 
                       {{ if .Site.Params.hero.button.download }}download{{ end }}
                       {{ if .Site.Params.hero.button.newPage }}target="_blank"{{ end }}>
                        {{ .Site.Params.hero.button.name }}
                        <i class="fas fa-download"></i>
                    </a>
                    {{ end }}
                </div>
                
                <div class="social-icons">
                    {{- partial "sections/hero/social.html" . -}}
                </div>
            </div>
            
            <div class="col-lg-5 col-md-12">
                <div class="image text-center">
                    <img src="{{ .Site.Params.hero.image | relURL }}" alt="{{ .Site.Params.hero.title }}">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}