{{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
<a href="{{ .url }}"
   {{ if not (hasPrefix .url "#") }}target="_blank"{{ end }}
   class="social-icon"
   aria-label="Social Link">
    <i class="{{ .icon }}"></i>
</a>
{{ end }}

{{ range .Site.Params.hero.socialLinks.customIcons }}
<a href="{{ .url }}"
   {{ if not (hasPrefix .url "#") }}target="_blank"{{ end }}
   class="social-icon"
   aria-label="Social Link">
    <img src="{{ .icon }}" alt="Social Icon">
</a>
{{ end }}
